@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
	--default-font: 'Be Vietnam Pro', sans-serif;
	--default-text-color: #E0E0E0;
	--secondary-text-color: #D2D2D2;
	--third-text-color: #C5C5C5;
	--blue-text-color: #618DFF;
	--blue: #4563FF;
	--default-background-color: #0e0e0e;
	--input-border: #B3B3B3;
	--input-border-radius: 6px;
}

body {
	min-height: 100vh;
	width: 100%;
	margin: 0;
	background-color: var(--default-background-color);
	font-family: var(--default-font);
	color: var(--default-text-color);
	overflow: hidden;
}
